<a href="https://new.novaposhta.ua/dashboard/invoices-my" class="go-to-np" target="_blank">Go to Nova Poshta</a>

<ng-container *ngIf="!loginToken">
    <form *ngIf="whichAuthForm === 'loginForm'" [formGroup]="loginForm" id="loginForm" (ngSubmit)="loginFormSubmit()" ngNativeValidate>
        <div class="formControls">
            <input required type="email" formControlName="email" class="login-input" placeholder="Email">
            <input required type="password" formControlName="password" class="login-input" placeholder="Password">
            <input required type="submit" value="Login" class="loginForm__submit">
        </div>
        <span class="go_to_login_reg" (click)="changeAuthForm('registrationForm')">Don't have an account? <span>Register for free</span></span>
    </form>
    
    <form *ngIf="whichAuthForm === 'registrationForm'" [formGroup]="registrationForm" id="registrationForm" (ngSubmit)="registrationFormSubmit()" ngNativeValidate>
        <div class="formControls">
            <input type="email" formControlName="email" class="login-input" placeholder="Email">
            <input type="password" formControlName="password" class="login-input" placeholder="Password">
            <input type="text" formControlName="npToken" class="login-input" placeholder="Nova Poshta Token">
            <input type="submit" value="Register" class="registrationForm__submit">
        </div>
        <span class="go_to_login_reg" (click)="changeAuthForm('loginForm')">Already with us? <span>Login</span></span>
    </form>
</ng-container>
<ng-container *ngIf="loginToken">
    <p (click)="logout()" class="logout-btn">Logout</p>
    <form action="" [formGroup]="userForm" id="userForm" (ngSubmit)="userFormSubmit()" ngNativeValidate>
        <table class="post-table">
            <tr>
                <td>Your first name</td>
                <td>Your last name</td>
                <td>npToken</td>
                <td>Your phone number</td>
                <td>Your City</td>
                <td>Your Warehouse Address</td>
            </tr>
            <tr>
                <td><input type="text" ng-required="true" formControlName="firstName"></td>
                <td><input type="text" ng-required="true" formControlName="lastName"></td>
                <td>{{userForm.get('npToken').value}}</td>
                <td><input type="text" ng-required="true" formControlName="phoneNumber" placeholder="+380981234567"></td>
                <td style="position: relative;">
                    <input type="text" ng-required="true" formControlName="senderDepartmentCity" id="senderDepartmentCity" (click)="subscribeToApiByClickSenderDepartment()">
                    <input type="hidden" formControlName="senderDepartmentCityRef" id="senderDepartmentCityRef">
                    <ul class="searched-city" *ngIf="showSeachedCityUl">
                        <li *ngFor="let searching of searched_city_response" (click)="loadSenderPostDepartments(searching.full_name, searching.short_name, searching.ref)">
                            <p>{{searching.full_name}}</p><input type="hidden" value="{{searching.short_name}}" class="short_city_hidden">
                        </li>
                    </ul>
                </td>
                <td>
                    <select class="searched-address" #senderDepartmentAddressSelect (change)="changeDepartmentOption(senderDepartmentAddressSelect.value)"> 
                        <option *ngFor="let searching of searched_department_response; let i = index;" value="{{i}}" [selected]="i==0">{{searching.name}}</option>
                    </select>
                </td>
            </tr>


        </table>
        <input type="submit" value="Save" id="accountSubmitButton">
    </form>
</ng-container>